@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.willk {
    background-color: #101010;
}

.background-image-pddark {
    background-image: url("pddark.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.background-image-banner {
    background-image: url("banner.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}
#willktxt {
    position: absolute;
    text-align: center;
    color: white;
    top: 200px;
    left: 17%;
}

.pdinform {
    background-color: #101010;
}

#docstxt_txt {
    text-align: center;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 80px;
}

.carousel-caption-define {
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}

.cover-container {
    max-width: 42em;
}

#slidestxttop {
    font-family: Stick No Bills, sans-serif;
    font-size: 60px;
}

#slidestxt {
    font-family: Oswald, sans-serif;
    font-size: 30px;
}

#aboutustxttop {
    font-family: Stick No Bills, sans-serif;
    font-size: 50px;
}

#aboutustxt {
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

.vsatxt {
    font-size: 20px;
}


/* Wave */

/* for the pen */
html, body {
    margin: 0;
    min-height: 100%;
}

/* waves */
.ocean {
    height: 138px; /* change the height of the waves here */
    width: 120%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("wave.png");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.9;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.7;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}