@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
}

.willk {
    background-color: #101010;
}



.background-image-pddark {
    background-image: url("pddark.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.background-image-banner {
    background-image: url("banner.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top;
    background-color: #101010;
    background-size: 100% 658px;
    min-height: 658px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}
#willktxt {
    position: absolute;
    text-align: center;
    color: white;
    top: 200px;
    left: 17%;
}

.pdinform {
    background-color: #101010;
}

#docstxt_txt {
    text-align: center;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 80px;
}

.carousel-caption-define {
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}

.cover-container {
    max-width: 42em;
}

#slidestxttop {
    font-family: Stick No Bills, sans-serif;
    font-size: 60px;
}

#slidestxt {
    font-family: Oswald, sans-serif;
    font-size: 30px;
}

#aboutustxttop {
    font-family: Stick No Bills, sans-serif;
    font-size: 50px;
}

#aboutustxt {
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

.vsatxt {
    font-size: 20px;
}

#aboutus {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    top: 25%;
}