.body {
    background-color: #101010;
    color: white;
    align-content: center;
    justify-content: center;
    position: absolute;
    font-size: 30px
}

.headline {
    font-size: 40px;
}

.left {
    min-width: 50%;
    max-width: 50%;
    height: 50px;
    overflow-y: hidden;
}

.right {
    min-width: 50%;
    max-width: 50%;
    height: 100vh;
    left: 100vh;
    position: absolute;
    top: 0
}

.box {
    background-color: #218D9B;
    height: 100px;
    width: 100px;
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.transform-active {
    background-color: #45CEE0;
    height: 200px;
    width: 200px;
}
