@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
}

.background-image-banner {
    background-image: url("../pictures/pddark.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: top;
    background-color: #101010;
    background-size: 100% 100%;
    min-width: 100%;
    max-height: 600vh;
    min-height: 200vh;
}

.carousel-caption-define {
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}

#aboutustxttop {
    font-family: Stick No Bills, sans-serif;
    font-size: 50px;
}

#aboutustxt {
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

#aboutus {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    top: 25%;
    animation: aboutusan 5000ms -3s linear;
}

.aboutusanimation {
    align-self: center;
    position: relative;
    top: 50vh;
    width: 60%;
    overflow-y: hidden;
    animation: aboutusan 5000ms -3s linear;
}

@keyframes aboutusan {
    0% {width: 0%; color: #101010}
    50%{width: 30%; color: #101010}
    80%{width: 60%; color: #101010}
    90%{color: #101010}
    100%{color: white}
}

.navbaranimation {
    animation: navbaran 7s -3s linear;
    background-color: #101010;
    position: absolute;
    left: 35%;
    border-radius: 0px 0px 40px 40px;
}

.navbartxt {
    font-family: Stick No Bills, sans-serif;
    font-size: 25px;
}

@keyframes navbaran {
    20%{top: -15vh; left: 35%}
    80%{top: 0vh; left: 35%; border-radius: 0px 0px 0px 0px}
    100%{position: absolute; left: 30%; border-radius: 0px 0px 40px 40px}

}

.infos {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    top: 50%;
    width: 300px;
    height: 230px;
    overflow: hidden;
    color: #101010;
}

.infos:hover {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    top: 50%;
    width: 500px;
    overflow: hidden;
    color: white;
    animation: infosan 200ms 0ms linear;
}

@keyframes infosan {
    from{width: 300px; color: #101010}
    to{width: 500px; color: white}
}

.clearfix {
    background-color: #101010;
    border-radius: 100px
}
































.pos-relativ {
    position: relative;
}
.pos-absolute {
    position: absolute;
}